.vs/ConsoleChart/xs/UserPrefs.xml
.vs/ConsoleChart/xs/project-cache/ConsoleChart-Debug.json
.vscode/launch.json
.vscode/tasks.json
bin/Debug/net7.0/ConsoleChart.dll
bin/Debug/net7.0/ConsoleChart.pdb
obj/Debug/net7.0/ConsoleChart.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/ConsoleChart.dll
obj/Debug/net7.0/ConsoleChart.pdb
obj/Debug/net7.0/ref/ConsoleChart.dll
obj/Debug/net7.0/refint/ConsoleChart.dll
obj/Debug/net7.0/refint/ConsoleChart.dll
